<h2>User: {{user}}</h2>
<h3>Turn(s): {{turn}}</h3>

<div *ngFor="let line of board; let i = index">
	<a *ngFor="let item of line; let j = index">

		<div *ngIf="idle == true; then idleCon else moveCon"></div>

		<ng-template #idleCon>
			<div *ngIf="item == 0; then clear else filled"></div>
			<ng-template #clear>
				<button style="height:30px; width:30px;"></button>
			</ng-template>
			<ng-template #filled>
				<button (click)="selectChess(item, i, j)" style="height:30px; width:30px">{{item}}</button>
			</ng-template>
		</ng-template>

		<ng-template #moveCon>
			<div *ngIf="item == 0; then clear else filled"></div>
			<ng-template #clear>
				<button style="height:30px; width:30px;">{{item}}</button>
			</ng-template>
			<ng-template #filled>
				<div *ngIf="item == 7; then path else normal">{{item}}</div>
				<ng-template #path>
					<button (click)="moveChess(i, j)" style="height:30px; width:30px; background:black">{{item}}</button>
				</ng-template>
				<ng-template #normal>
					<button (click)="moveChess(i, j)" style="height:30px; width:30px;">{{item}}</button>
				</ng-template>
			</ng-template>

		</ng-template>

	</a>
</div>